<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/simple-head :: simple-head}">
<body>
<!-- Header -->
<div th:replace="~{fragments/header :: header}"></div>
<!-- Main -->
<main class="flex-shrink-0 my-5">
    <div class="container">
        <h4 th:text="#{status.action.new}"></h4>
        <h4 th:if="${error}" th:text="${error}"></h4>
        <form th:method="post" th:action="@{/statuses}" th:object="${status}">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{status.name}"></span>
                        </div>
                        <input id="name" class="form-control"
                               minlength="1" maxlength="255"
                               type="text" autofocus required
                               aria-describedby="statusHelpName"
                               th:placeholder="#{status.help.name}" th:field="*{name}">
                    </div>
                    <small id="statusHelpName" class="form-text text-muted" th:text="#{status.help.name}"></small>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{action.create}"></button>
        </form>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
